

.panel {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #DDDDDD #CCCCCC #BBBBBB;
	border-left: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	border-right: 1px solid #CCCCCC;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	margin-top: 12px;
	padding: 15px;
	position: relative;
	height: 175px;
}

.sidebar{
	background: #efefef;
	height:900px;
	
}

	.border_tn img{
		display: block;
		float: left;
	  padding: 4px;
	  line-height: 1;
	  border: 1px solid #ddd;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	}
	
	.prod-tbl{
		display: inline-block;
		float: left;
		width:275px;
		margin-left: 10px;
	}
	
	.title-prod{
		position: relative;
		top:15px;
		background: #000;
		padding:1px 15px;
		width: 40%;
		-webkit-border-radius: 3px;
		border-radius: 3px ;
		border: 1px;
		
	}
	.title-prod h3{
		color: #fff;
	}
	
	.top20{
		margin-top: 20px;
	}
	
	.bottom20{
		margin-bottom: 20px;
	}
	
.largeP{
	font-size: 1.1em;
	line-height: 1.2em;
}
	
	
	 
.question-mark {
display: block;
width: 25px;
height: 25px;
background: transparent url('images/help.png') no-repeat;
/*
position: absolute;
top: 10px;
left: 540px;
*/
}